.hero-section {
    text-align: center;
}

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-title h2 {
    font-family: var(--font-heading);
    font-size: 1.5rem;
    text-transform: uppercase;
    text-shadow: 0 0 5px var(--clr-secondary-neon);
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.hero-link {
    display: inline-block;
}

.hero-skull {
    max-width: 100%;
    transition: transform 0.3s ease-in-out, filter 0.4s;
    margin-bottom: 1rem;
    filter: drop-shadow(0 0 5px var(--clr-secondary-neon));
    flex: 1 1 0%;
}

.hero-skull:hover {
    transform: scale(1.1);
    filter: drop-shadow(0 0 15px var(--clr-primary-neon));
}


.tagline {
    font-size: 1rem;
    margin-top: 0.5rem;
    color: var(--clr-text);
}
